:root
{
    --container-width: 70vw;
    --container-height: 15vh;
}

html {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    min-width: 375px;;
}
  
body
{
    background-color: #46A67E;
    height: 810px;
    width: 375px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#heading
{
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    margin-bottom: 10%;
}

#table, #left-side, 
#right-side, #results
{
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

#table
{
display: flex;
width: 80%;
height: 15%;
      /* min-width: calc(4*var(--container-height)); */
}

#left-side, 
#right-side
{
    display:block;
    width: 50%;
    height: 100%; 
    border: none;
}

#results
{
    width: 80%;
    height: 15%;
    margin-top: 10%;
}

#buttons
{
    width: 100%;
    height: 30%;
    display:flex;
    justify-content: center;
}

#rock, #paper, 
#scissors
{
    height: 100%;
    background-color:cornflowerblue;
    border-radius: 5px;
    color: white;
}

#rock, #paper, #scissor
{
    cursor: pointer;
}

p
{
    display:block;
    color: black;
    font-size: 16px;
}

@media only screen and (min-width: 600px)
{
    body{width: 600px; font-size: 24px;}
    #heading{font-size: 40px;}
    p{font-size: 18px;}
}

@media only screen and (min-width: 1200px)
{
    body {width: 1200px; font-size: 40px;}
    #heading {font-size: 60px;}
    p {font-size: 32px;}
    #results, #table {height: 30%;}
    button {font-size: 32px;}
}